---
layout: default
---

<div class="pages">
    <div class="pages__listing">
        {% for post in paginator.posts %}
        {% include article.html page=post link=true %}
        <hr>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if paginator.previous_page %}
        <a class="pagination__prev" href="{{ paginator.previous_page_path }}">&lt; previous page</a>
        {% endif %}

        {% if paginator.next_page %}
        <a class="pagination__next" href="{{ paginator.next_page_path }}">next page &gt;</a>
        {% endif %}
    </div>
</div>