<footer class="footer">
    <div class="footer__links">
        <a class="footer__link" href="/feed.xml"><i class="fa-solid fa-square-rss"></i></a>
        <a class="footer__link" href="mailto:{{ site.socials.email }}"><i class="fa-solid fa-at"></i></a>
        <a class="footer__link" href="https://github.com/{{ site.socials.github }}"><i class="fa-brands fa-github"></i></a>
        <a class="footer__link" href="https://discord.gg/{{ site.socials.discord-invite }}"><i class="fa-brands fa-discord"></i></a>
    </div>

    <div class="footer__notes">
        <p>voided_etc // 2022</p>
    </div>
</footer>